### Read in our three csv files using pandas

In [1]:
import pandas as pd

In [2]:
ff = pd.read_csv("four_factors.csv")
last_15 = pd.read_csv("last_15.csv")
post_as = pd.read_csv("post_as.csv")

### Data cleaning + quality check

In [3]:
### Clean four factors df
ff

,TeamID,Team,GP,W,L,WIN%,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP EFG%,OPP FTA RATE,OPP TOV%,OPP OREB%,Season
0,1610612737,Atlanta Hawks,51,29,22,0.569,2478.0,0.516,0.241,0.161,0.265,0.491,0.239,0.162,0.299,2012-13
1,1610612738,Boston Celtics,52,28,24,0.538,2566.0,0.492,0.263,0.153,0.255,0.482,0.296,0.169,0.308,2012-13
2,1610612751,Brooklyn Nets,53,31,22,0.585,2574.0,0.489,0.306,0.162,0.338,0.502,0.235,0.149,0.303,2012-13
3,1610612766,Charlotte Bobcats,52,12,40,0.231,2521.0,0.455,0.316,0.151,0.311,0.516,0.261,0.149,0.328,2012-13
4,1610612741,Chicago Bulls,52,30,22,0.577,2516.0,0.468,0.271,0.162,0.344,0.467,0.268,0.153,0.312,2012-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1610612758,Sacramento Kings,60,22,38,0.367,2895.0,0.522,0.252,0.141,0.273,0.543,0.226,0.131,0.290,2021-22
296,1610612759,San Antonio Spurs,59,23,36,0.390,2847.0,0.526,0.200,0.125,0.278,0.528,0.217,0.138,0.293,2021-22
297,1610612761,Toronto Raptors,57,32,25,0.561,2761.0,0.511,0.229,0.131,0.324,0.534,0.254,0.166,0.293,2021-22
298,1610612762,Utah Jazz,58,36,22,0.621,2784.0,0.557,0.265,0.145,0.290,0.516,0.209,0.124,0.264,2021-22
299,1610612764,Washington Wizards,58,27,31,0.466,2804.0,0.523,0.254,0.135,0.250,0.519,0.251,0.121,0.271,2021-22

In [4]:
ff.dtypes

TeamID            int64
Team             object
GP                int64
W                 int64
L                 int64
WIN%            float64
MIN             float64
EFG%            float64
FTA RATE        float64
TOV%            float64
OREB%           float64
OPP EFG%        float64
OPP FTA RATE    float64
OPP TOV%        float64
OPP OREB%       float64
Season           object
dtype: object

In [5]:
ff.isnull().sum()

TeamID          0
Team            0
GP              0
W               0
L               0
WIN%            0
MIN             0
EFG%            0
FTA RATE        0
TOV%            0
OREB%           0
OPP EFG%        0
OPP FTA RATE    0
OPP TOV%        0
OPP OREB%       0
Season          0
dtype: int64

In [6]:
ff.describe()

,TeamID,GP,W,L,WIN%,MIN,EFG%,FTA RATE,TOV%,OREB%,OPP EFG%,OPP FTA RATE,OPP TOV%,OPP OREB%
count,3.000000e+02,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,1.610613e+09,53.266667,26.633333,26.633333,0.500147,2575.233333,0.513343,0.264130,0.146687,0.279697,0.513353,0.264260,0.146750,0.280027
std,8.669903e+00,6.423376,8.875140,8.937851,0.153817,310.041672,0.024692,0.030551,0.012112,0.027024,0.021464,0.028904,0.013245,0.020692
min,1.610613e+09,32.000000,7.000000,4.000000,0.151000,1541.000000,0.455000,0.188000,0.111000,0.215000,0.447000,0.204000,0.116000,0.228000
25%,1.610613e+09,53.000000,19.750000,20.000000,0.389750,2554.000000,0.496000,0.243000,0.139000,0.262000,0.500000,0.244000,0.137000,0.266000
50%,1.610613e+09,54.000000,26.000000,26.000000,0.500000,2629.500000,0.514000,0.261000,0.146000,0.278000,0.513500,0.262000,0.147000,0.280000
75%,1.610613e+09,57.000000,33.000000,33.000000,0.604750,2761.000000,0.530250,0.286000,0.155000,0.296000,0.529000,0.283250,0.156000,0.293250
max,1.610613e+09,61.000000,48.000000,48.000000,0.923000,2948.000000,0.588000,0.397000,0.193000,0.359000,0.568000,0.360000,0.183000,0.341000

In [7]:
ff['Season'].value_counts()

2012-13    30
2013-14    30
2014-15    30
2015-16    30
2016-17    30
2017-18    30
2018-19    30
2019-20    30
2020-21    30
2021-22    30
Name: Season, dtype: int64

In [8]:
ff.drop(columns=['TeamID'], inplace=True)

In [10]:
### Clean last_15 df
last_15

,TeamID,Team,GP,W,L,WIN%,MIN,EOFFRTG,OFFRTG,EDEFRTG,DEFRTG,ENETRTG,NETRTG,Season
0,1610612737,Atlanta Hawks,15,8,7,0.533,730.0,103.1,103.8,102.1,103.8,1.0,0.0,2012-13
1,1610612738,Boston Celtics,16,9,7,0.563,808.0,98.6,99.8,95.9,97.9,2.7,1.9,2012-13
2,1610612751,Brooklyn Nets,17,10,7,0.588,821.0,102.1,103.1,104.4,105.9,-2.3,-2.7,2012-13
3,1610612766,Charlotte Bobcats,16,3,13,0.188,768.0,95.5,97.6,107.9,109.5,-12.4,-11.8,2012-13
4,1610612741,Chicago Bulls,17,10,7,0.588,831.0,100.5,102.8,98.4,99.9,2.1,2.9,2012-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1610612758,Sacramento Kings,15,4,11,0.267,720.0,108.1,110.3,117.1,118.6,-9.0,-8.3,2021-22
296,1610612759,San Antonio Spurs,16,7,9,0.438,768.0,113.3,115.6,111.1,113.3,2.2,2.3,2021-22
297,1610612761,Toronto Raptors,17,11,6,0.647,836.0,111.4,113.7,108.6,110.2,2.8,3.5,2021-22
298,1610612762,Utah Jazz,16,8,8,0.500,768.0,112.4,114.7,107.2,109.8,5.2,4.9,2021-22
299,1610612764,Washington Wizards,15,5,10,0.333,720.0,106.6,109.2,112.1,114.0,-5.5,-4.8,2021-22

In [11]:
last_15.dtypes

TeamID       int64
Team        object
GP           int64
W            int64
L            int64
WIN%       float64
MIN        float64
EOFFRTG    float64
OFFRTG     float64
EDEFRTG    float64
DEFRTG     float64
ENETRTG    float64
NETRTG     float64
Season      object
dtype: object

In [12]:
last_15.isnull().sum()

TeamID     0
Team       0
GP         0
W          0
L          0
WIN%       0
MIN        0
EOFFRTG    0
OFFRTG     0
EDEFRTG    0
DEFRTG     0
ENETRTG    0
NETRTG     0
Season     0
dtype: int64

In [13]:
last_15.describe()

,TeamID,GP,W,L,WIN%,MIN,EOFFRTG,OFFRTG,EDEFRTG,DEFRTG,ENETRTG,NETRTG
count,3.000000e+02,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,1.610613e+09,15.853333,7.926667,7.926667,0.500327,766.193333,106.908667,108.722333,106.920667,108.737333,-0.008667,-0.016667
std,8.669903e+00,1.228898,3.107003,3.118821,0.193010,60.368788,5.310713,5.315926,4.795640,4.774823,6.115471,5.782610
min,1.610613e+09,11.000000,0.000000,1.000000,0.000000,533.000000,92.200000,93.500000,93.700000,96.500000,-16.800000,-15.800000
25%,1.610613e+09,15.000000,6.000000,6.000000,0.370500,725.000000,103.050000,104.875000,103.900000,105.575000,-3.800000,-3.825000
50%,1.610613e+09,16.000000,8.000000,8.000000,0.500000,768.000000,106.800000,108.750000,107.000000,108.850000,0.150000,0.000000
75%,1.610613e+09,17.000000,10.000000,10.000000,0.637750,816.000000,110.700000,112.600000,110.225000,111.875000,4.300000,4.025000
max,1.610613e+09,19.000000,16.000000,16.000000,0.941000,922.000000,120.800000,122.400000,120.100000,121.600000,16.400000,16.400000

In [14]:
last_15['Season'].value_counts()

2012-13    30
2013-14    30
2014-15    30
2015-16    30
2016-17    30
2017-18    30
2018-19    30
2019-20    30
2020-21    30
2021-22    30
Name: Season, dtype: int64

In [15]:
last_15.rename(columns={'GP': 'GP_15', 'W': 'W_15', 'L': 'L_15', 'WIN%': 'WIN%_15'}, inplace=True)
last_15.drop(columns=['TeamID', 'MIN', 'EOFFRTG', 'EDEFRTG', 'ENETRTG'], inplace=True)

In [17]:
### Clean post AS break df
post_as

         TeamID                Team  GP   W   L   WIN%   Season
0    1610612737       Atlanta Hawks  31  15  16  0.484  2012-13
1    1610612738      Boston Celtics  29  13  16  0.448  2012-13
2    1610612751       Brooklyn Nets  29  18  11  0.621  2012-13
3    1610612766   Charlotte Bobcats  30   9  21  0.300  2012-13
4    1610612741       Chicago Bulls  30  15  15  0.500  2012-13
..          ...                 ...  ..  ..  ..    ...      ...
265  1610612758    Sacramento Kings  36  17  19  0.472  2020-21
266  1610612759   San Antonio Spurs  40  15  25  0.375  2020-21
267  1610612761     Toronto Raptors  36  10  26  0.278  2020-21
268  1610612762           Utah Jazz  36  25  11  0.694  2020-21
269  1610612764  Washington Wizards  38  20  18  0.526  2020-21

[270 rows x 7 columns]

In [18]:
post_as.dtypes

TeamID      int64
Team       object
GP          int64
W           int64
L           int64
WIN%      float64
Season     object
dtype: object

In [19]:
post_as.isnull().sum()

TeamID    0
Team      0
GP        0
W         0
L         0
WIN%      0
Season    0
dtype: int64

In [20]:
post_as.describe()

             TeamID          GP           W           L        WIN%
count  2.700000e+02  270.000000  270.000000  270.000000  270.000000
mean   1.610613e+09   26.970370   13.485185   13.485185    0.497604
std    8.671515e+00    5.448564    5.533756    5.421779    0.170799
min    1.610613e+09    9.000000    1.000000    2.000000    0.069000
25%    1.610613e+09   25.000000    9.000000    9.000000    0.367000
50%    1.610613e+09   28.000000   13.000000   13.000000    0.500000
75%    1.610613e+09   30.000000   17.000000   17.000000    0.630000
max    1.610613e+09   40.000000   30.000000   32.000000    0.938000

In [21]:
post_as['Season'].value_counts()

2012-13    30
2013-14    30
2014-15    30
2015-16    30
2016-17    30
2017-18    30
2018-19    30
2019-20    30
2020-21    30
Name: Season, dtype: int64

In [22]:
post_as.rename(columns={'W': 'W_Post', 'WIN%': 'WIN%_Post'}, inplace=True)
post_as.drop(columns=['TeamID', 'GP', 'L'], inplace=True)

### Merge all dfs, split current NBA season off as that will be used as a test case

In [24]:
season_stats = pd.merge(ff, last_15, how='inner', on=['Team','Season'])
curr_season = season_stats.iloc[-30:]
past_seasons = season_stats.iloc[:-30]

In [26]:
past_season_stats = pd.merge(past_seasons, post_as, how='inner', on=['Team', 'Season'])
past_season_stats.to_csv('past_season_stats.csv', index=False)
curr_season.to_csv('curr_season_stats.csv', index=False)